// Variables
@import 'variables';

$max-width: 1200px;
$blue: #1A49BA;
$lightBlue: #92D2F7;
$pink: #F7ABAD;
$grey: #707070;
$white: #ffffff;

$danger: #C91821;
$warning: #C9C62C;
$success: #0482C9;

@keyframes pop-down {
    0% {
        transform: translateY(-100px);
    }
}

@font-face {
    font-family:"Ailerons";
    src:url("/font/Ailerons.otf");
}

html {
    font-family: "Source Sans Pro", sans-serif;
    font-size:10px;
}

html, body {
    margin: 0;
    background: #f1f1f1;
}

h1 {
    font-family: "Ailerons", sans-serif;
    font-size: 5rem;
    text-align:center;
    color: $blue;
    margin:4rem 0;

    a {
        text-decoration:none;
        color: $blue;
    }
}

h2, h3, h4, h5 {
    font-family: 'Darker Grotesque', sans-serif;
}

h2 {
    font-weight:600;
    font-size:3rem;
    margin:0;
}

h3, h4, h5 {
    font-size:2rem;
}

main {
    margin: 0 auto;
}

section {
    padding: 2rem 0;
    margin: 0 2rem;

    p {
        font-size:1.7rem;
        line-height:2.2rem;
    }

    .flex {
        display:flex;
        justify-content: space-between;
        margin-top:20px;

        .grid-1-8{
            width: 11.041%;
        }

        .grid-2-8{
            width: 23.75%;
        }

        .grid-3-8{
            width: 36.458%;
        }

        .grid-4-8{
            width: 48.3333%;
        }

        .grid-6-8 {
            width: 74.583%;
        }

        .grid-8-8{
            width: 100%;
        }

        .grid-1-3 {
            width:33.333%;
        }
    }

    .background-webview-1 {
        height: 610px;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/img/website-view-1.png');
        border: 4px solid #000;
        border-radius:30px;
    }

    .background-webview-2 {
        height: 460px;
        width: 260px;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('/img/website-view-2.png');
        display: block;
        float: left;
        margin-right: 3rem;
        border: 4px solid #000;
        border-radius:30px;
    }

    .background-webview-3 {
        height: 460px;
        width: 260px;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('/img/website-view-3.png');
        display: block;
        float: left;
        border: 4px solid #000;
        border-radius:30px;
    }

    .background-rainbow {
        height: 260px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('/img/rainbow.png');
    }

    form {
        margin-top: 12rem;
        position: relative;

        label {
            font-size:1.8rem;
            cursor:pointer;
        }

        .approve {
            font-size:1.2rem;
            margin-left:1rem;
            line-height: 1.7rem;

            a {
                color:#000;
            }
        }

        .agreement {
            display: inline-flex;
            justify-content: center;
            width: 100%;
        }

        input {
            width: 95%;
            padding: 2%;
            border: 2px solid $grey;
            margin: 2rem 0;
            background: none;
            outline: none;
            color: $grey;
            font-size: 1.5rem;

            &::placeholder {
                color: #b3b3b3;
            }
        }

        .alert-accountType{
            position: absolute;
            top: -80px;
            left: 190px;
        }

        .accountType {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 4rem;

            label {
                display: flex;
                width: 50%;
                flex-direction: column;
                text-align:center;
            }

            input[type=radio] {
                position: relative;
                min-height: 0;
                visibility: hidden;
                width: 100%;
                height: 21px;
                margin: 0 10px 0 0;
                -moz-appearance: none;
                border: 0;
                padding: 0;
                transform: none;
            }

            input {
                cursor: pointer;
                transform: translateX(-50%);

                &:after {
                    content: "";
                    position:absolute;
                    background-image: url("/img/user.svg");
                    background-repeat:no-repeat;
                    width: 62px;
                    height: 62px;
                    left: 40%;
                    top: -80px;
                    display: block;
                    visibility: visible;
                }

                &:checked {
                    &:after {
                        content: "";
                        position:absolute;
                        background-image: url("/img/user-checked.svg");
                        background-repeat:no-repeat;
                        width: 78px;
                        height: 62px;
                        left: 40%;
                        top: -80px;
                        visibility: visible;
                    }
                }
            }
        }

        input[type=checkbox] {
            position: relative;
            min-height: 0;
            visibility: hidden;
            width: 21px;
            height: 21px;
            margin: 0 10px 0 0;
            cursor: pointer;
            -moz-appearance: none;
        }

        input[type=checkbox]:after {
            content: "";
            width: 23px;
            height: 23px;
            background-image: url("/img/sprite.svg");
            background-position: 1px -11px;
            background-repeat: no-repeat;
            background-size: 47px 59px;
            position: absolute;
            left: 0;
            top: 0;
            visibility: visible;
        }

        input[type=checkbox]:checked:after {
            content: "";
            background-image: url("/img/sprite.svg");
            background-position: -22px -11px;
        }
    }

    button {
        width: 100%;
        height: 40px;
        border: none;
        border-radius:20px;
        background: $pink;
        color: #000;
        margin-top:4rem;
        font-size:1.6rem;
        font-weight: 600;

        &:hover {
            background-color: $lightBlue;
            cursor:pointer;
        }
    }
}

.description {
    a {
        text-decoration: none;
        color: $blue;
        padding: 1rem 0;
        font-size:1.8rem;

        &:hover {
            border-bottom: 1px solid $pink;
        }
    }
}

.confirm {
    .flex {
        margin:0;
        flex-direction:column;
        text-align:center;
    }
}

.content {
    max-width: $max-width;
    margin: 0 auto;
}

#confirm-message {
    text-align: center;
}

footer {
    font-size: 1.5rem;

    .copyright {
        float: right;
        font-size: 1.2rem;
        margin-top: 2rem 0;
    }

    .quote p {
        text-align:right;
        font-size: 3.6rem;
        margin:0;
        padding:0;
        line-height:30px;

        span:before {
            content: '\2022';
            margin-right: 6px;
        }
    }

    section {
        padding: 0;
    }

    .content {
        border-top: 1px solid $grey;
        padding:4rem 0;
    }

    .icon-flex {
        display: flex;
        justify-content: center;
        color: $white;
        margin-bottom: 2rem;

        a {
            text-decoration:none;
            color: $white;
            margin-right:3rem;
        }

        .icon-content {
            display: flex;
            text-align: center;
            justify-content: center;
            flex-flow: column;
            width: 6rem;
            height: 6rem;
            background-color: $pink;
            border-radius: 30px;
            font-size:2rem;

            &:hover {
                background-color: $lightBlue;
            }
        }
    }

    ul {
        list-style:none;
        padding: 0;
        margin: 0;

        li {
            padding: 1rem 0;

            a {
                text-decoration: none;
                color: #000;
                padding: 1rem 0;

                &:hover {
                    border-bottom: 1px solid $pink;
                }
            }
        }
    }
}

@media(max-width:1250px) {
    //body { background:#1e7e34; }

    section.description {
        .flex {
            .m-grid-8-8 {
                width: 98%;
                margin-top: 4rem;
            }
        }

        .background-webview-2 {
            height: 690px;
            width: 590px;
            background-size: cover;
            background-position-y: top;
        }

        .background-webview-3 {
            display: none;
        }

        p {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
}

@media (max-width:1100px) {
    //body { background:#00ff25; }
}

@media (max-width:992px) {
    //body { background:#0da5c0; }

    section.description {
        .background-webview-2 {
            display: none;
        }

        .background-webview-4 {
            height: 500px;
            width: 100%;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('/img/website-view-4.png');
            border: 4px solid #000;
            border-radius:30px;
        }

        .flex {
            flex-direction: column-reverse;
        }
    }
}

@media (max-width:890px) {
    section.description {
        .background-webview-4 {
            height: 450px;
        }
    }

    footer {
        section {
            .flex {
                flex-direction: row;
            }
        }
    }

    section {
        .flex {
            flex-direction: column-reverse;

            .m-grid-8-8 {
                width: 98%;
                margin-top: 4rem;
            }
        }
    }

    //body { background:#f66d9b; }
}

@media (max-width:768px) {
    section.description {
        .background-webview-4 {
            height: 320px;
        }
    }

    section {
        .flex {
            justify-content: space-between;

            .quote {
                display: none;
            }

            .m-grid-1-2 {
                width: 48.333%;
                margin-top: 4rem;
            }
        }
    }

    footer {
        .copyright {
            float: none;
            text-align: center;
            margin-top: 3rem;
        }
    }

    //body { background:#9561e2; }
}

@media (max-width:576px) {
    //body { background:#9d03ad; }

    h1 {
        margin: 4rem 0 -2rem 0;
    }

    main {
        display:flex;
        flex-direction:column-reverse;
        margin-bottom: 4rem;
    }

    section {
        padding:0;

        .background-webview-1 {
            height:400px;
        }

        .flex {
            margin-top:0;

            .m-grid-8-8 {
                margin-top: 0;

                &:first-child {
                    margin-top: 4rem;
                }
            }
        }
    }

    section.description {
        .background-webview-4 {
            display: none;
        }

        .flex .m-grid-8-8 {
            margin-top: 6rem;
        }
    }


    footer {
        .icon-flex {
            justify-content: space-around;

            a {
                margin:0;
            }
        }

        section .flex {
            .m-grid-8-8 {
                width:98%;
                margin-top: 4rem;

                &:first-child {
                    margin:0;
                }
            }

            flex-direction: column;
        }


        ul li {
            text-align: center;
            border-bottom: 1px solid #F7ABAD;
        }
    }

    section.description {
        .background-webview-4 {
            height: 260px;
        }
    }
}

.alert {
    color: $white;
    padding: 1rem;
    margin-bottom: 1rem;

    p {
        &.alert-text {
            width: 100%;
            font-size: 1.5rem;
            padding: 0;
            margin: 0;
        }
    }

    &.alert-danger {
        background-color: $danger;

        +input {
            box-shadow: 0 0 0 1px $danger;
            border:none;
        }

        +textarea {
            box-shadow: 0 0 0 1px $danger;
            border:none;
        }
    }

    &.alert-warning {
        background-color: $warning;
        color: #000;

        +input {
            box-shadow: 0 0 0 1px $warning;
            border:none;
        }

        +textarea {
            box-shadow: 0 0 0 1px $warning;
            border:none;
        }
    }

    &.alert-success {
        background-color: $success;

        +input {
            box-shadow: 0 0 0 1px $success;
            border:none;
        }

        +textarea {
            box-shadow: 0 0 0 1px $success;
            border:none;
        }
    }

    &.alert-information {
        background-color: $blue;
        color: $white;

        +input {
            box-shadow: 0 0 0 1px $success;
            border:none;
        }

        +textarea {
            box-shadow: 0 0 0 1px $success;
            border:none;
        }
    }
}