@charset "UTF-8";

@-webkit-keyframes pop-down {
  0% {
    transform: translateY(-100px);
  }
}

@keyframes pop-down {
  0% {
    transform: translateY(-100px);
  }
}

@font-face {
  font-family: "Ailerons";
  src: url("/font/Ailerons.otf");
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
}

html,
body {
  margin: 0;
  background: #f1f1f1;
}

h1 {
  font-family: "Ailerons", sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #1A49BA;
  margin: 4rem 0;
}

h1 a {
  text-decoration: none;
  color: #1A49BA;
}

h2,
h3,
h4,
h5 {
  font-family: "Darker Grotesque", sans-serif;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  margin: 0;
}

h3,
h4,
h5 {
  font-size: 2rem;
}

main {
  margin: 0 auto;
}

section {
  padding: 2rem 0;
  margin: 0 2rem;
}

section p {
  font-size: 1.7rem;
  line-height: 2.2rem;
}

section .flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

section .flex .grid-1-8 {
  width: 11.041%;
}

section .flex .grid-2-8 {
  width: 23.75%;
}

section .flex .grid-3-8 {
  width: 36.458%;
}

section .flex .grid-4-8 {
  width: 48.3333%;
}

section .flex .grid-6-8 {
  width: 74.583%;
}

section .flex .grid-8-8 {
  width: 100%;
}

section .flex .grid-1-3 {
  width: 33.333%;
}

section .background-webview-1 {
  height: 610px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/website-view-1.png");
  border: 4px solid #000;
  border-radius: 30px;
}

section .background-webview-2 {
  height: 460px;
  width: 260px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/img/website-view-2.png");
  display: block;
  float: left;
  margin-right: 3rem;
  border: 4px solid #000;
  border-radius: 30px;
}

section .background-webview-3 {
  height: 460px;
  width: 260px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/img/website-view-3.png");
  display: block;
  float: left;
  border: 4px solid #000;
  border-radius: 30px;
}

section .background-rainbow {
  height: 260px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/img/rainbow.png");
}

section form {
  margin-top: 12rem;
  position: relative;
}

section form label {
  font-size: 1.8rem;
  cursor: pointer;
}

section form .approve {
  font-size: 1.2rem;
  margin-left: 1rem;
  line-height: 1.7rem;
}

section form .approve a {
  color: #000;
}

section form .agreement {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

section form input {
  width: 95%;
  padding: 2%;
  border: 2px solid #707070;
  margin: 2rem 0;
  background: none;
  outline: none;
  color: #707070;
  font-size: 1.5rem;
}

section form input::-webkit-input-placeholder {
  color: #b3b3b3;
}

section form input::-moz-placeholder {
  color: #b3b3b3;
}

section form input:-ms-input-placeholder {
  color: #b3b3b3;
}

section form input::-ms-input-placeholder {
  color: #b3b3b3;
}

section form input::placeholder {
  color: #b3b3b3;
}

section form .alert-accountType {
  position: absolute;
  top: -80px;
  left: 190px;
}

section form .accountType {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

section form .accountType label {
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
}

section form .accountType input[type=radio] {
  position: relative;
  min-height: 0;
  visibility: hidden;
  width: 100%;
  height: 21px;
  margin: 0 10px 0 0;
  -moz-appearance: none;
  border: 0;
  padding: 0;
  transform: none;
}

section form .accountType input {
  cursor: pointer;
  transform: translateX(-50%);
}

section form .accountType input:after {
  content: "";
  position: absolute;
  background-image: url("/img/user.svg");
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
  left: 40%;
  top: -80px;
  display: block;
  visibility: visible;
}

section form .accountType input:checked:after {
  content: "";
  position: absolute;
  background-image: url("/img/user-checked.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 62px;
  left: 40%;
  top: -80px;
  visibility: visible;
}

section form input[type=checkbox] {
  position: relative;
  min-height: 0;
  visibility: hidden;
  width: 21px;
  height: 21px;
  margin: 0 10px 0 0;
  cursor: pointer;
  -moz-appearance: none;
}

section form input[type=checkbox]:after {
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("/img/sprite.svg");
  background-position: 1px -11px;
  background-repeat: no-repeat;
  background-size: 47px 59px;
  position: absolute;
  left: 0;
  top: 0;
  visibility: visible;
}

section form input[type=checkbox]:checked:after {
  content: "";
  background-image: url("/img/sprite.svg");
  background-position: -22px -11px;
}

section button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: #F7ABAD;
  color: #000;
  margin-top: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

section button:hover {
  background-color: #92D2F7;
  cursor: pointer;
}

.description a {
  text-decoration: none;
  color: #1A49BA;
  padding: 1rem 0;
  font-size: 1.8rem;
}

.description a:hover {
  border-bottom: 1px solid #F7ABAD;
}

.confirm .flex {
  margin: 0;
  flex-direction: column;
  text-align: center;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

#confirm-message {
  text-align: center;
}

footer {
  font-size: 1.5rem;
}

footer .copyright {
  float: right;
  font-size: 1.2rem;
  margin-top: 2rem 0;
}

footer .quote p {
  text-align: right;
  font-size: 3.6rem;
  margin: 0;
  padding: 0;
  line-height: 30px;
}

footer .quote p span:before {
  content: "\2022";
  margin-right: 6px;
}

footer section {
  padding: 0;
}

footer .content {
  border-top: 1px solid #707070;
  padding: 4rem 0;
}

footer .icon-flex {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 2rem;
}

footer .icon-flex a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 3rem;
}

footer .icon-flex .icon-content {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-flow: column;
  width: 6rem;
  height: 6rem;
  background-color: #F7ABAD;
  border-radius: 30px;
  font-size: 2rem;
}

footer .icon-flex .icon-content:hover {
  background-color: #92D2F7;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  padding: 1rem 0;
}

footer ul li a {
  text-decoration: none;
  color: #000;
  padding: 1rem 0;
}

footer ul li a:hover {
  border-bottom: 1px solid #F7ABAD;
}

@media (max-width: 1250px) {
  section.description .flex .m-grid-8-8 {
    width: 98%;
    margin-top: 4rem;
  }

  section.description .background-webview-2 {
    height: 690px;
    width: 590px;
    background-size: cover;
    background-position-y: top;
  }

  section.description .background-webview-3 {
    display: none;
  }

  section.description p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 992px) {
  section.description .background-webview-2 {
    display: none;
  }

  section.description .background-webview-4 {
    height: 500px;
    width: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/img/website-view-4.png");
    border: 4px solid #000;
    border-radius: 30px;
  }

  section.description .flex {
    flex-direction: column-reverse;
  }
}

@media (max-width: 890px) {
  section.description .background-webview-4 {
    height: 450px;
  }

  footer section .flex {
    flex-direction: row;
  }

  section .flex {
    flex-direction: column-reverse;
  }

  section .flex .m-grid-8-8 {
    width: 98%;
    margin-top: 4rem;
  }
}

@media (max-width: 768px) {
  section.description .background-webview-4 {
    height: 320px;
  }

  section .flex {
    justify-content: space-between;
  }

  section .flex .quote {
    display: none;
  }

  section .flex .m-grid-1-2 {
    width: 48.333%;
    margin-top: 4rem;
  }

  footer .copyright {
    float: none;
    text-align: center;
    margin-top: 3rem;
  }
}

@media (max-width: 576px) {
  h1 {
    margin: 4rem 0 -2rem 0;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 4rem;
  }

  section {
    padding: 0;
  }

  section .background-webview-1 {
    height: 400px;
  }

  section .flex {
    margin-top: 0;
  }

  section .flex .m-grid-8-8 {
    margin-top: 0;
  }

  section .flex .m-grid-8-8:first-child {
    margin-top: 4rem;
  }

  section.description .background-webview-4 {
    display: none;
  }

  section.description .flex .m-grid-8-8 {
    margin-top: 6rem;
  }

  footer .icon-flex {
    justify-content: space-around;
  }

  footer .icon-flex a {
    margin: 0;
  }

  footer section .flex {
    flex-direction: column;
  }

  footer section .flex .m-grid-8-8 {
    width: 98%;
    margin-top: 4rem;
  }

  footer section .flex .m-grid-8-8:first-child {
    margin: 0;
  }

  footer ul li {
    text-align: center;
    border-bottom: 1px solid #F7ABAD;
  }

  section.description .background-webview-4 {
    height: 260px;
  }
}

.alert {
  color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.alert p.alert-text {
  width: 100%;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.alert.alert-danger {
  background-color: #C91821;
}

.alert.alert-danger + input {
  box-shadow: 0 0 0 1px #C91821;
  border: none;
}

.alert.alert-danger + textarea {
  box-shadow: 0 0 0 1px #C91821;
  border: none;
}

.alert.alert-warning {
  background-color: #C9C62C;
  color: #000;
}

.alert.alert-warning + input {
  box-shadow: 0 0 0 1px #C9C62C;
  border: none;
}

.alert.alert-warning + textarea {
  box-shadow: 0 0 0 1px #C9C62C;
  border: none;
}

.alert.alert-success {
  background-color: #0482C9;
}

.alert.alert-success + input {
  box-shadow: 0 0 0 1px #0482C9;
  border: none;
}

.alert.alert-success + textarea {
  box-shadow: 0 0 0 1px #0482C9;
  border: none;
}

.alert.alert-information {
  background-color: #1A49BA;
  color: #ffffff;
}

.alert.alert-information + input {
  box-shadow: 0 0 0 1px #0482C9;
  border: none;
}

.alert.alert-information + textarea {
  box-shadow: 0 0 0 1px #0482C9;
  border: none;
}

